DATABASE_URL=postgresql://postgres:postgres@db:5432/shyy_dashboard
SESSION_SECRET=change_this_long_random_secret
RP_NAME=Shyy Dashboard
RP_ID=dashboard.shyy.dev
ORIGIN=https://dashboard.shyy.dev
TS_CONTAINER_NAME=teamspeak
HOMESERVER_MAC=
TAILSCALE_HOME_IP=
